<a href="https://colab.research.google.com/github/Saiprasannabollam/AI-assistant-coding/blob/main/AI_Lab6_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1: Classes (Student Class)

In [1]:
class Student:
    def __init__(self, name, roll_number, branch):
        self.name = name
        self.roll_number = roll_number
        self.branch = branch

    def display_details(self):
        print("Student Name:", self.name)
        print("Roll Number:", self.roll_number)
        print("Branch:", self.branch)
student1 = Student("Sai", 101, "Data Analytics")
student1.display_details()

Student Name: Sai
Roll Number: 101
Branch: Data Analytics

# Task 2: Loops (Multiples of a Number)

*   List item
*   List item

Using for Loop

In [2]:
def print_multiples(num):
    for i in range(1, 11):
        print(num * i)

print_multiples(5)

5
10
15
20
25
30
35
40
45
50

Using while loop

In [3]:
def print_multiples_while(num):
    i = 1
    while i <= 10:
        print(num * i)
        i += 1

print_multiples_while(5)

5
10
15
20
25
30
35
40
45
50

# Task 3: Conditional Statements (Age Classification)

In [4]:
def classify_age(age):
    if age < 13:
        return "Child"
    elif age < 20:
        return "Teenager"
    elif age < 60:
        return "Adult"
    else:
        return "Senior"

print(classify_age(25))

Adult


# Task 4: For and While Loops (Sum of First n Numbers)

Using for loop

In [5]:
def sum_to_n(n):
    total = 0
    for i in range(1, n + 1):
        total += i
    return total

print(sum_to_n(5))

15

Using while loop

In [6]:
def sum_to_n_while(n):
    total = 0
    i = 1
    while i <= n:
        total += i
        i += 1
    return total

# Task 5: Classes (Bank Account Class)

In [7]:
class BankAccount:
    def __init__(self, account_holder, balance=0):
        self.account_holder = account_holder
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount
        print("Deposited:", amount)

    def withdraw(self, amount):
        if amount <= self.balance:
            self.balance -= amount
            print("Withdrawn:", amount)
        else:
            print("Insufficient balance")

    def check_balance(self):
        print("Current Balance:", self.balance)
account = BankAccount("Sai", 1000)
account.deposit(500)
account.withdraw(300)
account.check_balance()

Deposited: 500
Withdrawn: 300
Current Balance: 1200